* {
  /*  margin: 20px;*/
   /* padding: 20px;*/
  /* background-color: #f0edee;*/
   font-family: sans-serif;

}


body {
    background-image: url("back.svg");
        background-size: auto;
        background-repeat: no-repeat;
}
.title {
    font-size: 40px;
    /*background-color: antiquewhite;*/
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
        color: #a9fcf8;
}
.title2 {
    font-size: 30px;
    /*background-color: antiquewhite;*/
    text-align: center;
        margin-bottom: 40px;
            color: #a9fcf8;
}

.title > .i1 {
border-radius: 20%;
}


input {
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    background: #ffffff;
    width: 200px;
    border-radius: 25px;
    }

button {
    border-radius: 12px;
        /* padding: 0px; */
        font-weight: 600;
        height: 50px;
        width: 100px;
        text-align: center;


}



.searchBar {
    /*background-color: aquamarine;*/
    text-align: center;
        margin-bottom: 40px;
}
main {
        text-align: center;
            color: wheat;
}